includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
    excludePaths:
        analyseAndScan:
            - vendor
            - tests/Fixtures (?)
    treatPhpDocTypesAsCertain: false
